{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}
{% set morecontent = page.content|slice(page.summary|length) %}
{% set summary = page.summary %}

<section id="start">
    {% block body %}
   
            <section class="container {{ grid_size }}">
                {% block messages %}
                    {% include 'partials/messages.html.twig' ignore missing %}
                {% endblock %}
                {% block content %}
                    <details>
                        <summary> {{summary}}</summary>
                        <p>
                           flonk
                        </p>
                    </details>

                {% endblock %}
            </section>
     
    {% endblock %}
    </section>
